source https://nuget.org/api/v2
redirects on

// Build
nuget FsUnit
nuget Yaaf.AdvancedBuilding
nuget NuGet.CommandLine
nuget NUnit.Runners
// Projects
nuget Yaaf.FSharp.Helper
nuget Mono.Posix
nuget FSharp.Core
nuget NUnit
// Test
nuget Unquote
nuget FSharp.Core
